#myCanvas {
    width: 80px;
    height: 80px;
    animation: slide 2s infinite alternate;
}

#MathML {
    text-align: center; 
    border: 1px solid black;
    margin-top: 5rem;
    transition: background-color, 1s;
    background-color: color-mix(in srgb, #34c9eb 75%, black);
}

p:has(span) {
    border: 1px solid black;
}

#MathML:hover {
    background-color: color(display-p3 0.8 0.2 0.4);;
    cursor: pointer;
}

/* Example Animation */
@keyframes slide {
    0% { 
        transform: translateX(0) rotate(0deg); 
    }
    40% {
        transform: translateX(250px) rotate(90deg) scaleX(2) scaleY(2); 
    }
    60% {
        transform: translateX(250px) rotate(90deg) scaleX(2) scaleY(2); 
    }
    100% { 
        transform: translateX(0) rotate(180deg);
    }
}
